@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {

  body {
    background-color: F3F3F3;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: radial-gradient(rgba(0, 0, 0, 0) 1px,
        #F3F3F3 1px);
    background-size: 4px 4px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
    font-size: 14px;
    line-height: 14px;
  }

  footer::before {
    display: block;
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    height: 1px;
    background: #fafafa;
    opacity: 0.2;
  }

  .big-heading {
    margin: 0px;
    font-size: clamp(30px, 8vw, 65px);
    line-height: 121%;
  }

  .resume {
    background-color: transparent;
    border: 1px solid #2429AF;
    padding: 1rem 1.25rem;
    line-height: 1;

    text-decoration: none;
    transition: cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .resume:hover {
    outline: none;
    box-shadow: 4px 4px 0 0 #2429AF;
    transform: translate(-5px, -5px);
  }
}